*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: ivory;
}

.todo-container{
    background-color: rgb(251, 211, 138);
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    text-align: center;
}

.todo-container__header{
    font-size: 36px;
    margin: 25px;
    border-bottom: 1px solid gray;
}

.todo-container__form{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-container__input{
    flex: 1;
    padding: 16px;
    border: 1px solid black;
    font-size: 14px;
    
}

.render-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.render-container__section{
    width: 100%;
    text-align: left;
}

.render-container__title{
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.render-container__list{
    list-style: none;
}

.render-container__item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px;
    border-bottom: 1px solid rgb(121, 86, 34);
    margin-bottom: 6px;
    width: 100%;
}

.render-container__item-text{
    flex:1;
}

.render-container__item-button{
    padding:6px 8px;
    background-color: rgb(88, 69, 40);
    color: white;
    border: none;
    cursor:pointer;
    font-size: 12px;
}

.render-container__item-button:hover{
    transform: scale(0.95);
    transition: 0.2s ease;
}